#main > div.navigation > ol > li {
  font-family: oratorstd, sans-serif;
  background:#fff;
  border:0px;
  font-size:18px;
  color:#666;
}

#main > div.navigation > ol > li a{
  background:#fff;
  color:#666;
  padding:15px;
}

#main > div.navigation > ol > li span.page .current{
  background:#5DC1BD;
  padding:15px;
}